body {
    background-color: #c9f3fe;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #3690f8;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.internship-card {
    background-color: #ffffff;
    border: 2px solid #2868b1;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin: 15px 0;
}

.card-header {
    background-color: #2672c9;
    color: #ffffff;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}

.card-header h2 {
    margin: 0;
    font-size: 1.5rem;
}

.card-body {
    padding: 15px;
}

.card-body p {
    margin: 5px 0;
    font-size: 1rem;
}

.back-button {
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    background-color: #2672c9;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.back-button:hover {
    background-color: #5dade2;
}